<!doctype html>
<html>
<head>
  <title>HydroPhonics</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/tailwingdcss@^1.0/dist/tailwind.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-bottom: 5px;
    }
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: green;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 30px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider2 {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider2:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked+.slider {
      background-color: #ccc;
    }

    input:checked+.slider2 {
      background-color: green;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(-26px);
      -ms-transform: translateX(-26px);
      transform: translateX(-26px);
      /* value:"ON" */
    }

    input:checked+.slider2:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      /* value:"ON" */
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .slider2.round {
      border-radius: 34px;
    }

    .slider2.round:before {
      border-radius: 50%;
      
    }
    img{
      height: 75px;
      width: 75px;
     
      background-color: black;
    }
    
  </style>
</head>
<body>
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <div class="col-lg-12 login-key">
          <img src="https://www.clipartmax.com/png/middle/281-2817115_actually-the-system-with-version-hydroponic-logo-png.png" >
      </div>
        <span class="ml-3 text-xl">Hydrophonics</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="schedule" class="mr-5 hover:text-white">Schedule</a>
        <a class="mr-5 hover:text-white">Analysis</a>
        <a href="/logout" class="mr-5 hover:text-white">Log out</a>
        <a class="mr-5 hover:text-white"></a>
      </nav>
      <form action="dashboard" method="post">
        <input type="submit"
          class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
          value="Refresh">
      </form>
    </div>
  </header>
  <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Automated Hydrophonics</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">ABCD</p>
      </div>
      <% if(Data.length!=0){ var i=1; Data.forEach(function(data){ %>
        <div class="flex flex-wrap -m-4 text-center">
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-500 px-4 py-6 rounded-lg">
              <h2 class="title-font font-medium text-3xl text-white">
                <%=data.Temp %>
              </h2>
              <p class="leading-relaxed">Temperature</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-500 px-4 py-6 rounded-lg">
              <h2 class="title-font font-medium text-3xl text-white">
                <%=data.Humidity %>
              </h2>
              <p class="leading-relaxed">Humidity</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-500 px-4 py-6 rounded-lg">
              <h2 class="title-font font-medium text-3xl text-white">
                <%=data.PH %>
              </h2>
              <p class="leading-relaxed">PH</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-500 px-4 py-6 rounded-lg">
              <h2 class="title-font font-medium text-3xl text-white">
                <%=data.EC %>
              </h2>
              <p class="leading-relaxed">EC</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-500 px-4 py-6 rounded-lg">
              <h2 class="title-font font-medium text-3xl text-white">
                <%=data.Time %>
              </h2>
              <p class="leading-relaxed">Time</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-500 px-4 py-6 rounded-lg">
              <h2 class="title-font font-medium text-3xl text-white">
                <%=data.Date %>
              </h2>
              <p class="leading-relaxed">Date</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-500 px-4 py-6 rounded-lg">
              <div class="font-sans md:font-serif text-white">
                <form action="dashboard" method="post">
                  <% if(Status.Pump=="ON" ){%>
                    <label class="switch">
                      <input name="AirPump" id="switch" type="checkbox" onclick="submit()" value="OFF">
                      <span class="slider round"></span>
                    </label>
                    <%}else{%>
                      <label class="switch">
                        <input name="AirPump" id="switch" type="checkbox" onclick="submit()" value="ON">
                        <span class="slider2 round"></span>
                      </label>
                      <%}%>
                </form>
                <h2>Control Air Pump</h2>
              </div>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-500 px-4 py-6 rounded-lg">
              <h2 class="title-font font-medium text-3xl text-white">
                <%=data.Fan %>
              </h2>
              <p class="leading-relaxed">Fan</p>
            </div>
          </div>
        </div>
        <% i++; }) %>
          <% } else{ %>
            <div class="flex flex-wrap -m-4 text-center">
              <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
                  <h2 class="title-font font-medium text-3xl text-white">No data found</h2>
                  <p class="leading-relaxed">Temperature</p>
                </div>
              </div>
              <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
                  <h2 class="title-font font-medium text-3xl text-white">No data found</h2>
                  <p class="leading-relaxed">Humidity</p>
                </div>
              </div>
              <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
                  <h2 class="title-font font-medium text-3xl text-white">No data found</h2>
                  <p class="leading-relaxed">PH</p>
                </div>
              </div>
              <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
                  <h2 class="title-font font-medium text-3xl text-white">No data found</h2>
                  <p class="leading-relaxed">EC</p>
                </div>
              </div>
            </div>
            <% } %>
    </div>
  </section>
</body>
</html>