<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/tailwingdcss@^1.0/dist/tailwind.min.css">
  <script src="https://cdn.tailwindcss.com"></script>


</head>

<body>

  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Hydrophonics</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="dashboard" class="mr-5 hover:text-white">DashBoard</a>
        <a class="mr-5 hover:text-white">Analysis</a>
        <a class="mr-5 hover:text-white">Log out</a>
        <a class="mr-5 hover:text-white"></a>
      </nav>
      <form action="dashboard" method="post">
        <input type="submit"
          class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
          value="Refresh">
      </form>
      <!-- <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Refresh
            
            </svg>
          </button> -->
    </div>
  </header>

  <section class="text-gray-400 bg-gray-900 body-font">

    <div
      class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end sm:space-x-4 sm:space-y-0 space-y-4">
      <form action="schedule" method="POST">
        <div class="relative sm:mb-0 flex-grow w-full">
          <label for="full-name" class="leading-7 text-sm text-gray-400">Start Time:</label>
          <input type="time" id="appt" name="starttime"
            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative sm:mb-0 flex-grow w-full">
          <label for="email" class="leading-7 text-sm text-gray-400">End Time:</label>
          <input type="time" id="appt" name="endtime"
            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <button type="submit"
          class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
    </div>
    </form>
    </div>
  </section>
  <section>
    
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <% if(ScheduleData.length!=0){ var i=1; ScheduleData.forEach(function(data){ %>
              <table class="min-w-full text-center">
                <% if(i==1){ %>
                <thead class="border-b bg-gray-800">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      No.
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Start Time
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      End Time
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Delete
                    </th>
                  </tr>
                </thead class="border-b">
                <% } %>
                <tbody>
                  <% if(i%2 == 0){ %>
                    <tr class="bg-gray-100 border-b">
                  <% } else{ %>
                  <tr class="bg-white border-b">
                    <% } %>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%=i%></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=data.StartHr %>:<%=data.StartMin %>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=data.EndHr %>:<%=data.EndMin %>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <form action="/delete?StartHr=<%=data.StartHr %>&StartMin=<%=data.StartMin %>" method="post">

                        <button type="submit" class="bg-red-400 hover:bg-red-500">Remove </button>
        
                      </form>
                    </td>
                  </tr>
                  <% i++; }) %>
            <% } else{ %>
              <tr class="bg-white border-b">
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" colspan="4">Create New Schedule</td>
              </tr>
              <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



</body>

</html>